<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <label for="cheeseName">What's Yo Cheese?</label>
    <input type="text" name="cheeseName" id="cheeseName" />

    <label for="cheese_discription">Tell me about dat cheese</label>
    <input type="text" name="cheese_discription" id="cheese_discription" />

    <input type="submit" value="Add Cheese" />

</form>


</body>
</html>