<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<!-- This is what whill change v-->
<form method="post">

    <label for="cheeseName">What's Yo Cheese?</label>
    <input type="text" name="cheeseName" id="cheeseName" />

    <label for="cheese_disc">Tell me about dat cheese</label>
    <input type="text" name="cheese_disc" id="cheese_disc" />

    <input type="submit" value="Add Cheese" />
    <!-- This is what whill change ^ -->
</form>


</body>
</html>